---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% include post.html post=post content=post.content %}
{% endfor %}

{% if paginator.total_pages > 1 %}
    {% include pagination.html maxPages=5 %}
{% endif %}
<script type="text/javascript">
    amzn_assoc_ad_type = "link_enhancement_widget";
    amzn_assoc_tracking_id = "travelog008-20";
    amzn_assoc_linkid = "cb3a55a633d0f617c9ae216c6d5c9f1f";
    amzn_assoc_placement = "";
    amzn_assoc_marketplace = "amazon";
    amzn_assoc_region = "US";
</script>
<script src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US"></script>
